#parent {
	padding: 0px;
}

#medium-i {
	background: #ccc;
}

#medium-r {
	background: #666;
	z-index: -1;
}

.child {
	height: 200px;
	margin: 0px;
	position: relative;
	text-align: right;
}

svg {
	position: absolute;
	left: 0;
}

path {
	stroke:red;
	stroke-width: 1.25px;
	fill: none;
	marker-end: url(#arrow);
}
