#parent {
	padding: 0px;
}

#medium-i {
	background: #ccc;
}

#medium-r {
	background: #666;
}

.child {
	height: 200px;
	margin: 0px;
	position: relative;
	text-align: right;
}

svg {
	position: absolute;
	left: 0;
}
